body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 1vmin;
  margin: 0;
  font-size: 3vmin;
  font-family: sans-serif;
}

button,
input,
select,
textarea {
  font: inherit;
}

#controlsDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  margin: 1vmin;
}

.controlsColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.controlsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

#tableGrid {
  margin: 1vmin;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  border: 1px solid black;
  background-color: white;
}

.gridCell {
  padding: 0.5vmin;
  border-bottom: 1px solid black;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.gridCell.header {
  font-weight: bold;
  border-bottom: 2px solid black;
}

.textBox {
  display: block;
  text-align: center;
  padding: 0vmin;
  user-select: none;
}

#historyPlot {
  display: flex;
  height: 90vmin;
  width: 90vmin;
  margin: 1vmin;
  outline: 1px solid black;
}

button {
  border-radius: 1vmin;
  padding: 0.4vmin;
  cursor: pointer;
}
